<div class="page-header">
	<h1>View Purchase</h1>
</div>
<div class="well well-lg">
	<strong>Title</strong><br>{{purchase.title}}
</div>

<div class="row">

<div class="row" ng-switch on="purchase.payments.length">
	<ul ng-switch-when="0">
		<li><em>No polls in databases. Would you like to <a href="#/new">create one</a>?</li>
	</ul>

	<ul ng-switch-default>
		<li ng-repeat="payment in purchase.payments | filter:query">
			Name: <em>{{payment.name}}</em> Amount: <em>{{payment.amount}}</em>
		</li>
	</ul>
	
</div>

<p><hr></p>	
<p><a href="#/purchases" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Purchase List</a></p>

</div>
<p>&nbsp;</p>